.generic-content {
  margin-top: 3vh;
  min-height: 85vh;

  @media screen and (max-width: 767px) {
    padding: 10px 20px;
  }

  .detail-container {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-size: get-vw(50px);
    font-weight: 500;
    margin-bottom: get-vw(5px);
    font-family: "Caveat", cursive;

    @media screen and (max-width: 767px) {
      font-size: 20px;
    }
  }
  h2 {
    font-size: get-vw(30px);
    font-weight: 300;
    margin-bottom: get-vw(5px);
    font-family: "Caveat", cursive;
    @media screen and (max-width: 767px) {
      font-size: 20px;
    }
  }
  .term-item {
    margin-bottom: get-vw(20px);
    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }
}
