.music-list {
  .table-container {
    width: 90%;
    margin: 20px 5%;

    .album-name-cell{
        display: flex;

        .album-image{
            width: 70px;
            height: 70px;
            background-size: cover;
            margin: 2px;
        }


    }

    .fpt-button{
      min-width: 100px;
      margin: 3px;
    }
  }
}
